body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #2948ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* clock */

.clock {
  width: 300px;
  height: 300px;
  background-color: #73ff00;
  border-radius: 50%;
  border: 8px solid #000;
  box-shadow: 2px 2px 8px 2px rgba(22, 45, 75, 0.92);
  background-image: url('https://lh3.googleusercontent.com/K9m2x7ZJRNZXUg989hTxYLrXyQ7bgpBqcCX5L-9_r34Vewds1cyzFBS2rDOkA6JhBcRKAmoXve_ml-dh1th_UWvAHvldy8IEbMvb3vmiEXAEY0oUVcWusihCkvX5otr6I_YzAeeiWC1I6G-LuPlpSeMwZCJC3RodB43wxtk_AR-Tvf3JGzsFZB5EY-G1cpdq7vmbE-s6wWHB47WscrukY1EW1WSUWSjcfrWS3RDPGR9EEX7qMTUe7upP4PG9zQzEdMRIQ6esFhB2fO6v-cTwG3UQjy0bd1AdjRbTU24QQvp0NfqHwLPwpR6YPfrHhckKzrJIRXtsBNSF99NtoN7HiuKkFbuUPkLM0ZT-llEIWsQiyiU_iDgmRDspXcP6vZkeCDTJhpRRkLzrWjBhlRFQLwyVgtveWCRM05Df_in1Yf6dC16iw5uXU35FyYd3jWIiJMlO2c1uoHd5hlmpiZgo8Gu-KXQYDoz7liojGfqD03qpryjaPc_oxEMWFFZYpawNqWdOMWiw5G8RqiMlxACEkZOSM_MvfiRkF3LkVDCZDgcF_6lxiepDounK6R7JzU255TFAdhg_upt4JDBK8MMTdHjDECV9ppnmjoo9MOTd0wim28_O7mB8VhnwkR3EVjCcPYYhqI1y0PHBRYl4tp3nkHSrQDHaOPmGqFsw__waHsNtM8CQrytxBkdhtY8jcw=w639-h638-no?authuser=0');
  background-size: cover;
  position: relative;
}

/* clock style ends */

/* round center */

.clock::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* round center style ends */

/* common style for every hand */

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: bottom;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* common style ends */

/* hour hand */

.hour {
  width: 8px;
  height: 28%;
  background-color: #000;
}

/* hour hand style ends */
/* minute hand style */

.minute {
  width: 5px;
  height: 38%;
  background-color: #000;
}

/* minute hand style ends */
/* second hand style */

.second {
  width: 3px;
  height: 40%;
  background-color: #ff0000;
}

/* second hand style ends */
